# An√°lisis ConnectaTel

Como **analista de datos**, tu objetivo es evaluar el **comportamiento de los clientes** de una empresa de telecomunicaciones en Latinoam√©rica, ConnectaTel. 

Trabajaremos con informaci√≥n registrada **hasta el a√±o 2024**, lo cual permitir√° analizar el comportamiento del negocio dentro de ese periodo.

Para ello trabajar√°s con tres datasets:  

- **plans.csv** ‚Üí informaci√≥n de los planes actuales (precio, minutos incluidos, GB incluidos, costo por extra)  
- **users.csv** ‚Üí informaci√≥n de los clientes (edad, ciudad, fecha de registro, plan, churn)  
- **usage.csv** ‚Üí detalle del **uso real** de los servicios (llamadas y mensajes)  

Deber√°s **explorar**, **limpiar** y **analizar** estos datos para construir un **perfil estad√≠stico** de los clientes, detectar **comportamientos at√≠picos** y crear **segmentos de clientes**.  

Este an√°lisis te permitir√° **identificar patrones de consumo**, **dise√±ar estrategias de retenci√≥n** y **sugerir mejoras en los planes** ofrecidos por la empresa.

> üí° Antes de empezar, recuerda pensar de forma **program√°tica**: ¬øqu√© pasos necesitas? ¬øEn qu√© orden? ¬øQu√© quieres medir y por qu√©?

--- 
## üß© Paso 1: Cargar y explorar

Antes de limpiar o combinar los datos, es necesario **familiarizarte con la estructura de los tres datasets**.  
En esta etapa, validar√°s que los archivos se carguen correctamente, conocer√°s sus columnas y tipos de datos, y detectar√°s posibles inconsistencias.

### 1.1 Carga de datos y vista r√°pida

**üéØ Objetivo:**  
Tener los **3 datasets listos en memoria**, entender su contenido y realizar una revisi√≥n preliminar.

**Instrucciones:**  
- Importa las librer√≠as necesarias (por ejemplo `pandas`, `seaborn`, `matplotlib.pyplot`)
- Carga los archivos CSV usando `pd.read_csv()`:
  - **`/datasets/plans.csv`**  
  - **`/datasets/users_latam.csv`**  
  - **`/datasets/usage.csv`**  
- Guarda los DataFrames en las variables: `plans`, `users`, `usage`.  
- Muestra las primeras filas de cada DataFrame usando `.head()`.

In [1]:
# importar librer√≠as
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# cargar archivos
plans = pd.read_csv('/datasets/plans.csv')
users = pd.read_csv('/datasets/users_latam.csv')
usage = pd.read_csv('/datasets/usage.csv')

In [3]:
# mostrar las primeras 5 filas de plans
plans.head()

,plan_name,messages_included,gb_per_month,minutes_included,usd_monthly_pay,usd_per_gb,usd_per_message,usd_per_minute
0,Basico,100,5,100,12,1.2,0.08,0.10
1,Premium,500,20,600,25,1.0,0.05,0.07

In [6]:
# mostrar las primeras 5 filas de users
users.head()

,user_id,first_name,last_name,age,city,reg_date,plan,churn_date
0,10000,Carlos,Garcia,38,Medell√≠n,2022-01-01 00:00:00.000000000,Basico,NaN
1,10001,Mateo,Torres,53,?,2022-01-01 06:34:17.914478619,Basico,NaN
2,10002,Sofia,Ramirez,57,CDMX,2022-01-01 13:08:35.828957239,Basico,NaN
3,10003,Mateo,Ramirez,69,Bogot√°,2022-01-01 19:42:53.743435858,Premium,NaN
4,10004,Mateo,Torres,63,GDL,2022-01-02 02:17:11.657914478,Basico,NaN

In [12]:
# mostrar las primeras 5 filas de usage
usage.head()

   id  user_id  type                           date  duration  length
0   1    10332  call  2024-01-01 00:00:00.000000000      0.09     NaN
1   2    11458  text  2024-01-01 00:06:30.969774244       NaN    39.0
2   3    11777  text  2024-01-01 00:13:01.939548488       NaN    36.0
3   4    10682  call  2024-01-01 00:19:32.909322733      1.53     NaN
4   5    12742  call  2024-01-01 00:26:03.879096977      4.84     NaN

**Tip:** Si no usas `print()` la tabla se vera mejor.

### 1.2 Exploraci√≥n de la estructura de los datasets

**üéØ Objetivo:**  
Conocer la **estructura de cada dataset**, revisar cu√°ntas filas y columnas tienen, identificar los **tipos de datos** de cada columna y detectar posibles **inconsistencias o valores nulos** antes de iniciar el an√°lisis.

**Instrucciones:**  
- Revisa el **n√∫mero de filas y columnas** de cada dataset usando `.shape`.  
- Usa `.info()` en cada DataFrame para obtener un **resumen completo** de columnas, tipos de datos y valores no nulos.

In [10]:
# revisar el n√∫mero de filas y columnas de cada dataset
print("plans", plans.shape)
print("users", users.shape)
print("usage", usage.shape)

plans (2, 8)
users (4000, 8)
usage (40000, 6)

In [13]:
# inspecci√≥n de plans con .info()
plans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   plan_name          2 non-null      object
 1   messages_included  2 non-null      int64
 2   gb_per_month       2 non-null      int64
 3   minutes_included   2 non-null      int64
 4   usd_monthly_pay    2 non-null      int64
 5   usd_per_gb         2 non-null      float64
 6   usd_per_message    2 non-null      float64
 7   usd_per_minute     2 non-null      float64
dtypes: float64(3), int64(4), object(1)
memory usage: 256.0+ bytes

In [14]:
# inspecci√≥n de users con .info()
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     4000 non-null   int64
 1   first_name  4000 non-null   object
 2   last_name   4000 non-null   object
 3   age         4000 non-null   int64
 4   city        3531 non-null   object
 5   reg_date    4000 non-null   object
 6   plan        4000 non-null   object
 7   churn_date  466 non-null    object
dtypes: int64(2), object(6)
memory usage: 250.1+ KB

In [15]:
# inspecci√≥n de usage con .info()
usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        40000 non-null  int64
 1   user_id   40000 non-null  int64
 2   type      40000 non-null  object
 3   date      39950 non-null  object
 4   duration  17924 non-null  float64
 5   length    22104 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.8+ MB

---

## üß©Paso 2: Identificaci√≥n de problemas de calidad de datos

### 2.1 Revisi√≥n de valores nulos

**üéØ Objetivo:**  
Detectar la presencia y magnitud de valores faltantes para evaluar si afectan el an√°lisis o requieren imputaci√≥n/eliminaci√≥n.

**Instrucciones:**  
- Cuenta valores nulos por columna para cada dataset.
- Calcula la proporci√≥n de nulos por columna para cada dataset.

El dataset `plans` solamente tiene 2 renglones y se puede observar que no tiene ausentes, por ello no necesita exploraci√≥n adicional.

<br>
<details>
<summary>Haz clic para ver la pista</summary>
Usa `.isna().sum()` para contar valores nulos y usa `.isna().mean()` para calcular la proporci√≥n.

In [16]:
# cantidad de nulos para users
print(users.isna().sum())
print(users.isna().mean())

user_id          0
first_name       0
last_name        0
age              0
city           469
reg_date         0
plan             0
churn_date    3534
dtype: int64
user_id       0.00000
first_name    0.00000
last_name     0.00000
age           0.00000
city          0.11725
reg_date      0.00000
plan          0.00000
churn_date    0.88350
dtype: float64

In [17]:
# cantidad de nulos para usage
print(usage.isna().sum())
print(usage.isna().mean())

id              0
user_id         0
type            0
date           50
duration    22076
length      17896
dtype: int64
id          0.00000
user_id     0.00000
type        0.00000
date        0.00125
duration    0.55190
length      0.44740
dtype: float64

‚úçÔ∏è **Comentario**: Incluir conclusiones, qu√© ves y que acci√≥n recomendar√≠as para cada caso.

üí° **Nota:** Justifica tus decisiones brevemente (1 l√≠nea por caso).
* Hint:
 - Si una columna tiene **m√°s del 80‚Äì90% de nulos**, normalmente se **ignora o elimina**.  
 - Si tiene **entre 5% y 30%**, generalmente se **investiga para imputar o dejar como nulos**.  
 - Si es **menor al 5%**, suele ser un caso simple de imputaci√≥n o dejar como nulos. 
 
 ---

**Valores nulos**  
- ¬øQu√© columnas tienen valores faltantes y en qu√© proporci√≥n?  
- Indica qu√© har√≠as: ¬øimputar, eliminar, ignorar?

**Dataset users**
- Columna city:
     a) 469 datos faltantes (11,7%)
     b) Se dejar√° como nulos, ya que no se puede inferir la ciudad del resto de los datos
- Columna churn_date:
     a) 3534 datos faltantes (88%)
     b) Se dejar√° como nulos. Son clientes que todav√≠a permanecen en la compa√±√≠a (no tienen fecha de cancelaci√≥n)

**Dataset usage**
- Columna date:
     a) 50 datos faltantes (0,01%)
     b) Se imputar√° con la mediana para no alterar an√°lisis estad√≠stico ni perder esos datos.
- Columna duration lenght:
     a) 22.076 datos faltantes (55%)
     b) se investigar√° para dejar como nulos; lo m√°s probable es que sean de registros de mensajes de texto enviados (los cuales no tienen duration lenght)
- Columna lenght:
     a) 17.896 datos faltantes (44%)
     b) se investigar√° para dejar como nulos; lo m√°s probable es que sean de registros de llamadas realizadas (los cuales no tienen lenght)
  Nota: la columna "length" tiene un error tipogr√°fico. Lo correcto es "lenght"

### 2.2 Detecci√≥n de valores inv√°lidos y sentinels

üéØ **Objetivo:**  
Identificar sentinels: valores que no deber√≠an estar en el dataset.

**Instrucciones:**
- Explora las columnas num√©ricas con **un resumen estad√≠stico** y describe brevemente que encontraste.
- Explora las columnas categ√≥ricas **relevantes**, revisando sus valores √∫nicos y describe brevemente que encontraste.


El dataset `plans` solamente tiene 2 renglones, por ello no necesita exploraci√≥n adicional.

In [23]:
# explorar columnas num√©ricas de users
numeric_cols_users=["user_id","age"]
users[numeric_cols_users].describe()

            user_id          age
count   4000.000000  4000.000000
mean   11999.500000    33.739750
std     1154.844867   123.232257
min    10000.000000  -999.000000
25%    10999.750000    32.000000
50%    11999.500000    47.000000
75%    12999.250000    63.000000
max    13999.000000    79.000000

- La columna `user_id` tiene 4.000 valores √∫nicos (100.000 al 13.999)
- La columna `age` tiene sentinel -999

In [33]:
# explorar columnas num√©ricas de usage
numeric_cols_usage =["id","user_id"]
usage[["id","user_id"]].describe()

                id       user_id
count  40000.00000  40000.000000
mean   20000.50000  12002.405975
std    11547.14972   1157.279564
min        1.00000  10000.000000
25%    10000.75000  10996.000000
50%    20000.50000  12013.000000
75%    30000.25000  13005.000000
max    40000.00000  13999.000000

- La columna `id` tiene 4.000 valores √∫nicos (1 al 4.000). No tiene sentinels
- La columna `user_id`tiene 4.000 valores √∫nicos (10.000 al 13.999). No tiene sentinels

In [35]:
# explorar columnas categ√≥ricas de users
columnas_user = ['city', 'plan']
users[columnas_user].describe()

          city    plan
count     3531    4000
unique       7       2
top     Bogot√°  Basico
freq       808    2595

- La columna `city`, con 3.531 registros, tiene 7 valores √∫nicos. Bogot√° es la m√°s frecuente con 808 registros.
- La columna `plan`, con 4.000 registros, tiene 2 valores √∫nicos, siendo el m√°s frecuente el plan B√°sico con 2.595 registros.

In [36]:
# explorar columna categ√≥rica de usage
usage['type'].describe()

count     40000
unique        2
top        text
freq      22092
Name: type, dtype: object

- La columna `type`, con 40.000 registros, tiene dos valores √∫nicos, siendo text el m√°s frecuente con 22.092

---
‚úçÔ∏è **Comentario**: Haz doble clic en este bloque y escribe tu diagn√≥stico. Incluye qu√© ves y que acci√≥n recomendar√≠as para cada caso. 

**Valores inv√°lidos o sentinels**  
- ¬øEn qu√© columnas encontraste valores inv√°lidos o sentinels?  En columna age se encontr√≥ valor -999 como sentinel
- ¬øQu√© acci√≥n tomar√≠as?  Se imputar√° la mediana para no afectar las estad√≠sticas. Media y mediana no son similares (33 vs 47), por eso se decide por mediana.

### 2.3 Revisi√≥n y estandarizaci√≥n de fechas

**üéØ Objetivo:**  
Asegurar que las columnas de fecha est√©n correctamente formateadas y detectar a√±os fuera de rango que indiquen errores de captura.

**Instrucciones:**  
- Convierte las columnas de fecha a tipo fecha y asegurate de que el c√≥digo sea a prueba de errores.  
- Revisa cu√°ntas veces aparece cada a√±o.
- Identifica fechas imposibles (ej. a√±os futuros o negativos).

Toma en cuenta que tenemos datos registrados hasta el a√±o 2024.

In [37]:
# Convertir a fecha la columna `reg_date` de users
users['reg_date'] = pd.to_datetime(users['reg_date'],errors="coerce")

In [38]:
# Convertir a fecha la columna `date` de usage
usage['date'] = pd.to_datetime(usage['date'],errors="coerce")

In [46]:
# Revisar los a√±os presentes en `reg_date` de users
users["reg_date"].dt.year.value_counts().sort_index()

2022    1314
2023    1316
2024    1330
2026      40
Name: reg_date, dtype: int64

En `reg_date`:
- La cantidad de usuarios se mantiene estable a lo largo del tiempo (2022 a 2024)
- Existen 40 errores de registros del a√±o 2026.

In [45]:
# Revisar los a√±os presentes en `date` de usage
usage["date"].dt.year.value_counts().sort_index()

2024.0    39950
Name: date, dtype: int64

En date:
- Todos los registros son del a√±o 2024 (39.950), a excepci√≥n de 50 registros nulos.

‚úçÔ∏è **Comentario**: escribe tu diagn√≥stico, e incluye **qu√© acci√≥n recomendar√≠as** para cada caso:

**Fechas fuera de rango**  
- ¬øAparecen a√±os imposibles? Aparecen 40 errores de registros del a√±o 2026 en dataset users columna reg_date
- ¬øQu√© har√≠as con ellas? Se recomienda eliminarlos para no alterar an√°lisis estad√≠stico. No se puede imputar el a√±o de acuerdo al resto de variables. Representan el 1% de registros.

---

## üß©Paso 3: Limpieza b√°sica de datos

### 3.1 Corregir sentinels y fechas imposibles
**üéØ Objetivo:**  
Aplicar reglas de limpieza para reemplazar valores sentinels y corregir fechas imposibles.

**Instrucciones:**  
- En `age`, reemplaza el sentinel **-999** con la mediana.
- En `city`, reemplaza el sentinel `"?"` por valores nulos (`pd.NA`).  
- Marca como nulas (`pd.NA`) las fechas fuera de rango.

In [ ]:
# Reemplazar -999 por la mediana de age
age_mediana = ...
users['age'] = ...

# Verificar cambios
users['age'].describe()

In [ ]:
# Reemplazar ? por NA en city


# Verificar cambios

In [ ]:
# Marcar fechas futuras como NA para reg_date


# Verificar cambios

### 3.2 Corregir sentinels y fechas imposibles
**üéØ Objetivo:**  
Decidir qu√© hacer con los valores nulos seg√∫n su proporci√≥n y relevancia.

**Instrucciones:**
- Verifica si los nulos en `duration` y `length` son **MAR**(Missing At Random) revisando si dependen de la columna `type`.  
  Si confirmas que son MAR, **d√©jalos como nulos** y justifica la decisi√≥n.

In [ ]:
# Verificaci√≥n MAR en usage (Missing At Random) para duration

In [ ]:
# Verificaci√≥n MAR en usage (Missing At Random) para length

Haz doble clic aqu√≠y escribe que tu diagnostico de nulos en `duration` y `length`

---

## üß©Paso 4: Summary statistics de uso por usuario


### 4.1 Agrupaci√≥n por comportamiento de uso

üéØ**Objetivo**: Resumir las variables clave de la tabla `usage` **por usuario**, creando m√©tricas que representen su comportamiento real de uso hist√≥rico. 

**Instrucciones:**: 
1. Construye una tabla agregada de `usage` por `user_id` que incluya:
- n√∫mero total de mensajes  
- n√∫mero total de llamadas  
- total de minutos de llamadas

2. Renombra las columnas para que tengan nombres claros:  
- `cant_mensajes`  
- `cant_llamadas`  
- `cant_minutos_llamada`
3. Combina esta tabla con `users`.

In [ ]:
# Columnas auxiliares
usage["is_text"] = (usage["type"] == "text").astype(int) #conocer el total de mensajes
usage["is_call"] = (usage["type"] == "call").astype(int) #conocer el total de llamadas


# Agrupar informaci√≥n por usuario
usage_agg = usage ... reset_index()

# observar resultado
usage_agg.head(3)

In [ ]:
# Renombrar columnas

# observar resultado
usage_agg.head(3)

In [ ]:
# Combinar la tabla agregada con el dataset de usuarios
user_profile = 
user_profile.head(5)

### 4.2 4.2 Resumen estad√≠stico por usuario durante el 2024

üéØ **Objetivo:** Analizar las columnas num√©ricas y categ√≥ricas de los usuarios, para identificar rangos, valores extremos y distribuci√≥n de los datos antes de continuar con el an√°lisis.

**Instrucciones:**  
1. Para las columnas **num√©ricas** relevantes, obt√©n un resumen estad√≠stico (media, mediana, m√≠nimo, m√°ximo, etc.).  
2. Para la columna **categ√≥rica** `plan`, revisa la distribuci√≥n en **porcentajes** de cada categor√≠a.

In [ ]:
# Resumen estad√≠stico de las columnas num√©ricas

In [ ]:
# Distribuci√≥n porcentual del tipo de plan

---

## üß©Paso 5: Visualizaci√≥n de distribuciones (uso y clientes) y outliers


### 5.1 Visualizaci√≥n de Distribuciones

üéØ **Objetivo:**  
Entender visualmente c√≥mo se comportan las variables clave tanto de **uso** como de **clientes**, observar si existen diferencias seg√∫n el tipo de plan, y analizar la **forma de la distribuci√≥n**.

**Instrucciones:**  
Graficar **histogramas** para las siguientes columnas:  
- `age` (edad de los usuarios)
- `cant_mensajes`
- `cant_llamadas`
- `total_minutos_llamada` 

Despu√©s de cada gr√°fico, escribe un **insight** respecto al plan y la variable, por ejemplo:  
- "Dentro del plan Premium, hay mayor proporci√≥n de..."  
- "Los usuarios B√°sico tienden a hacer ... llamadas y enviar ... mensajes."  o "No existe alg√∫n patr√≥n."
- ¬øQu√© tipo de distribuci√≥n tiene ? (sim√©trica, sesgada a la derecha o a la izquierda) 

**Hint**  
Para cada histograma, 
- Usa `hue='plan'` para ver c√≥mo var√≠an las distribuciones seg√∫n el plan (B√°sico o Premium).
- Usa `palette=['skyblue','green']`
- Agrega t√≠tulo y etiquetas

In [ ]:
# Histograma para visualizar la edad (age)
sns.histplot(...)
plt.show()

üí°Insights: 
- Distribuci√≥n ...

In [ ]:
# Histograma para visualizar la cant_mensajes

üí°Insights: 
- ....

In [ ]:
# Histograma para visualizar la cant_llamadas

üí°Insights: 
- Distribuci√≥n ...

In [ ]:
# Histograma para visualizar la cant_minutos_llamada

üí°Insights: 
- ...

### 5.2 Identificaci√≥n de Outliers

üéØ **Objetivo:**  
Detectar valores extremos en las variables clave de **uso** y **clientes** que podr√≠an afectar el an√°lisis, y decidir si requieren limpieza o revisi√≥n adicional.

**Instrucciones:**  
- Usa **boxplots** para identificar visualmente outliers en las siguientes columnas:  
  - `age` 
  - `cant_mensajes`
  - `cant_llamadas`
  - `total_minutos_llamada`  
- Crea un **for** para generar los 4 boxplots autom√°ticamente.
<br>

- Despu√©s de crear los gr√°fico, responde si **existen o no outliers** en las variables.  
- Si hay outliers, crea otro bucle para calcular los l√≠mites de esas columnas usando el **m√©todo IQR** y decide qu√© hacer con ellos.
  - Si solamente hay outliers de un solo lado, no es necesario calcular ambos l√≠mites.

**Hint:**
- Dentro del bucle, usa `plt.title(f'Boxplot: {col}')` para que el t√≠tulo cambie acorde a la columna.

In [ ]:
# Visualizando usando BoxPlot 
columnas_numericas = ['age', 'cant_mensajes', 'cant_llamadas', 'cant_minutos_llamada']

for

üí°Insights: 
- Age: ...(presenta o no outliers)
- cant_mensajes: ...
- cant_llamadas: ...
- cant_minutos_llamada: ...

In [ ]:
# Calcular l√≠mites con el m√©todo IQR
columnas_limites = [...]

In [ ]:
# Revisa los limites superiores y el max, para tomar la decisi√≥n de mantener los outliers o no
user_profile[columnas_limites].describe()

üí°Insights: 
- cant_mensajes: mantener o no outliers, porqu√©?
- cant_llamadas: mantener o no outliers, porqu√©?
- cant_minutos_llamada: mantener o no outliers, porqu√©?

---

## üß©Paso 6: Segmentaci√≥n de Clientes

### 6.1 Segmentaci√≥n de Clientes Por Uso

üéØ **Objetivo:** Clasificar a cada usuario en un grupo de uso (Bajo uso, Uso medio, Alto uso) bas√°ndose en la cantidad de llamadas y mensajes registrados.

**Instrucciones:**  
- Crea una nueva columna llamada `grupo_uso` en el dataframe `user_profile`.
- Usa comparaciones l√≥gicas (<, >) para evaluar las condiciones de llamadas y mensajes y asigna:
  - `'Bajo uso'` cuando llamadas < 5 y mensajes < 5
  - `'Uso medio'` cuando llamadas < 10 y mensajes < 10
  - `'Alto uso'` para el resto de casos

In [ ]:
# Crear columna grupo_uso

In [ ]:
# verificar cambios
user_profile.head()

### 6.2 Segmentaci√≥n de Clientes Por Edad

üéØ **Objetivo:**: Clasificar a cada usuario en un grupo por **edad**.

**Instrucciones:**  
- Crea una nueva columna llamada `grupo_edad` en el dataframe `user_profile`.
- Usa comparaciones l√≥gicas (<, >) para evaluar las condiciones y asigna:
  - `'Joven'` cuando age < 30
  - `'Adulto'` cuando age < 60
  - `'Adulto Mayor'` para el resto de casos

In [ ]:
# Crear columna grupo_edad

In [ ]:
# verificar cambios
user_profile.head()

### 6.3 Visualizaci√≥n de la Segmentaci√≥n de Clientes

üéØ **Objetivo:** Visualizar la distribuci√≥n de los usuarios seg√∫n los grupos creados: **grupo_uso** y **grupo_edad**.

**Instrucciones:**  
- Crea dos gr√°ficos para las variables categ√≥ricas `grupo_uso` y `grupo_edad`.
- Agrega t√≠tulo y etiquetas a los ejes en cada gr√°fico.

In [ ]:
# Visualizaci√≥n de los segmentos por uso
sns.countplot(...)

plt.show()

In [ ]:
# Visualizaci√≥n de los segmentos por edad


---
## üß©Paso 7: Insight Ejecutivo para Stakeholders

üéØ **Objetivo:** Traducir los hallazgos del an√°lisis en conclusiones accionables para el negocio, enfocadas en segmentaci√≥n, patrones de uso y oportunidades comerciales.

**Preguntas a responder:** 
- ¬øQu√© problemas ten√≠an originalmemte los datos?¬øQu√© porcentaje, o cantidad de filas, de esa columna representaban?


- ¬øQu√© segmentos de clientes identificaste y c√≥mo se comportan seg√∫n su edad y nivel de uso?  
- ¬øQu√© segmentos parecen m√°s valiosos para ConnectaTel y por qu√©?  
- ¬øQu√© patrones de uso extremo (outliers) encontraste y qu√© implican para el negocio?


- ¬øQu√© recomendaciones har√≠as para mejorar la oferta actual de planes o crear nuevos planes basados en los segmentos y patrones detectados?

‚úçÔ∏è **Escribe aqu√≠ tu an√°lisis ejecutivo:**

### An√°lisis ejecutivo

‚ö†Ô∏è **Problemas detectados en los datos**
- abc
- abc


üîç **Segmentos por Edad**
- abc
- abc 


üìä **Segmentos por Nivel de Uso**
- abc
- abc


‚û°Ô∏è Esto sugiere que ...


üí° **Recomendaciones**
- abc
- abc

---

## üß©Paso 8 Cargar tu notebook y README a GitHub

üéØ **Objetivo:**  
Entregar tu an√°lisis de forma **profesional**, **documentada** y **versionada**, asegurando que cualquier persona pueda revisar, ejecutar y entender tu trabajo.



### Opci√≥n A : Subir archivos desde la interfaz de GitHub (UI)

1. Descarga este notebook (`File ‚Üí Download .ipynb`).  
2. Entra a tu repositorio en GitHub (por ejemplo `telecom-analysis` o `sprint7-final-project`).  
3. Sube tu notebook **Add file ‚Üí Upload files**.  

---

### Opci√≥n B : Guardar directo desde Google Colab

1. Abre tu notebook en Colab.  
2. Ve a **File ‚Üí Save a copy in GitHub**.  
3. Selecciona el repositorio y la carpeta correcta (ej: `notebooks/`).  
4. Escribe un mensaje de commit claro, por ejemplo:  
    - `feat: add final ConnectaTel analysis`
    - `agregar version final: An√°lisis ConnectaTel`
5. Verifica en GitHub que el archivo qued√≥ en el lugar correcto y que el historial de commits se mantenga limpio.

---

Agrega un archivo `README.md` que describa de forma clara:
- el objetivo del proyecto,  
- los datasets utilizados,  
- las etapas del an√°lisis realizadas,  
- c√≥mo ejecutar el notebook (por ejemplo, abrirlo en Google Colab),  
- una breve gu√≠a de reproducci√≥n.
---

Link a repositorio p√∫blico del proyecto: `LINK a tu repo aqu√≠`